---
layout: base
---

<div class="content">
    <div class="container">
        <div class="sidebar-container">
            <nav class="sidebar">
                <h1>Wiki</h1>
                {% assign groups = site.wiki | group_by: "group" %}
                {% for g in groups %}
                {% if g.name != "" %}<h2>{{ g.name }}</h2>{% endif %}
                {% for p in g.items %}
                {% include nav_link.html text=p.title href=p.url %}
                {% endfor %}
                {% endfor %}
            </nav>
            <main>
                <h1>{{ page.title }}</h1>
                <div class="wiki-info">
                    <p>{% edit_date Last updated on %}</p>
                </div>
                {{ content }}
            </main>
        </div>
    </div>
</div>

